.header {
    height: 900px;
    background-image: url('@img/header_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    &__nav {
        border-bottom: 1px solid #484848;
    }

    &__nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100px;
    }

    .menu {
        display: flex;
    }

    .menu__item {
        margin-right: 40px;
    }

    .menu__item:last-child {
        margin-right: 0;
    }

    .menu__link {
        position: relative;
        color: $white;
        line-height: 20px;
        text-shadow: 0px 0px 15px $black;

        &::before {
            position: absolute;
            left: 50%;
            bottom: -41px;
            translate: -50% 0;
            display: block;
            content: "";
            width: 130%;
            height: 1px;
            transition: .3s;
        }

        &:hover::before {
            background-color: $white;
        }
    }

    .menu__close {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 799px;
        text-align: center;
        color: $white;
    }

    &__title {
        font-size: 18px;
        line-height: 20px;
        text-shadow: 0px 0px 15px $black;
    }

    &__desc {
        max-width: 820px;
        font-size: 48px;
        line-height: 64px;
        font-weight: 800;
        margin: 20px 0 50px 0;
        text-shadow: 0px 0px 15px $black;
    }
}

@media (max-width: 991px) {

    .header {
        &__nav-container {
            justify-content: center;
        }

        .menu {
            position: fixed;
            top: 0;
            left: -100%;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 50px;
            background-color: rgba(0, 0, 0, 95%);
            z-index: 100;
            transition: .3s;
        }

        .menu.open {
            left: 0;
        }

        .menu__item {
            margin-right: 0;
            margin-bottom: 35px;
        }

        .menu__item:last-child {
            margin-bottom: 35px;
        }

        .menu__link {
            font-size: 22px;
            line-height: 32px;

            &::before {
                display: none;
            }
        }

        .menu__close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 35px;
            height: 35px;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 17px;
                left: 3px;
                display: block;
                width: 30px;
                height: 2px;
                background-color: $white;
                transform: rotate(45deg);
            }

            &::after {
                content: "";
                position: absolute;
                top: 17px;
                left: 3px;
                display: block;
                width: 30px;
                height: 2px;
                background-color: $white;
                transform: rotate(-45deg);
            }
        }

        .menu-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 30px;
            cursor: pointer;

            div {
                position: relative;
                width: 35px;
                height: 3px;
                background-color: $white;
                border-radius: 10px;

                &::before {
                    position: absolute;
                    top: -12px;
                    content: "";
                    display: block;
                    width: 35px;
                    height: 3px;
                    background-color: $white;
                    border-radius: 10px;
                }

                &::after {
                    position: absolute;
                    top: 12px;
                    content: "";
                    display: block;
                    width: 35px;
                    height: 3px;
                    background-color: $white;
                    border-radius: 10px;
                }
            }
        }

        &__desc {
            font-size: 38px;
            line-height: 54px;
        }
    }

}